<% tasks_tree.each do |task_node| %>
  <%= render 'tasks/task_item', task_node: task_node, job: job %>
<% end %>

<!-- New task placeholder -->
<div class="task-wrapper new-task-wrapper">
  <div
    class="task-item new-task"
    data-action="click->job#showNewTaskInput"
    data-job-target="newTaskPlaceholder"
    title="Click or press Enter to create a new task"
  >
    <div class="task-status-container">
      <button class="task-status-button" disabled>
        <span>⚫</span>
      </button>
    </div>
    <div class="task-content">
      <div
        class="task-title"
        contenteditable="true"
        data-job-target="newTaskText"
      >New task...</div>
    </div>
  </div>
</div>